node_modules/
out/
release/
*.log
.DS_Store
Thumbs.db
截图/
知乎发布/

# build/export artifacts
.export-build/
.full*/
.rel*/
.r*/
.export-build/
win-unpacked/
*.exe
*.zip
*.blockmap
electron.vite.config.*.mjs
*.aux
*.out
